<DOCTYPE html>

<html lang="en" dir="ltr" ng-app="myNinjaApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app\lib\angular.min.js"></script>
    <script src="app\app.js"></script>
  </head>
  <body>
    <header ng-include="'header.html'"></header>
    <div ng-controller="NinjaController">
      <input type="text" ng-model="search" />
      <ul>
        <li ng-repeat="ninja in ninjas | orderBy:'-rate'| filter:search">
          {{ninja.name}} - {{ninja.rate | currency: '£'}}

        </li>
      </ul>

    </div>
  </body>
</html>
